@import '_reset';
@import 'const';
@import 'admin';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/tables';
@import '~react-tabs/style/react-tabs.scss';

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;

  background-color: $default-bg-color;
  color: $default-color;

  input, select, textarea {
    background-color: $default-bg-color;
    outline: none;
    border: 1px solid $border-color;
    color: $default-color-dark;
    border-radius: 0;
    padding: .25em .45em;
    font-size: 12px;
    width: 100%;
  }

  textarea {
    resize: vertical;
  }

  button {
    cursor: pointer;
    padding: .25em .45em;
    font-size: 12px;
    letter-spacing: .1em;
    color: #fff;
    background-color: $action-button-bg-color;
    border-radius: .3em;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    outline: none;
    vertical-align: baseline;
    margin: .2em 1em;
  }

  button[disabled] {
    cursor: default;
    background-color: #eee;
  }


  #app-root{
    width: 95%;
    height: 100%;
    margin: 0 auto;
  }

  nav.app-nav {
    width: 95%;
    margin: 0 auto;
    padding: 1em;

    border-bottom: 1px solid $default-color-dark;

    display: flex;
    flex-direction: row;

    ul {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      height: 2.5em;

      list-style: none;
      padding: 0 1em;

      li {
        //display: inline-block;
        margin: 0 1em;

        a {
          display: block;
          height: 2em;
        }
      }
    }

    .header-menu {
      i {
        margin-right: .2em;
      }
    }

    .header, .header-menu, links {
      height: 2em;
      padding: .5em;
      margin: .5em;
    }

    .links {
      li {
        :hover {
          background-color: $default-bg-dark-color;
        }
      }
    }

  }

  .form-controls-row {
    margin: 1em .5em;

  }

  .form-buttons-row {
    margin: 1.5em .5em;
  }
}

.product-table-row {
  cursor: pointer;
}


//footer styles
.app-footer {
  .footer-column-container {
    margin: auto;
    border-top: solid 1px $border-color;
    max-width: 930px;
  }
}

.footer-column-container li {
  vertical-align: top;
}

.social-block > div {
  padding: 2em;
  i {
    font-size: 20px;
  }
}

.links-block {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-block a {
  margin-top: 20px;
  display: block;
  align-self: center;
  color: $default-color;
  opacity: 0.8;
}

.links-block a:hover{
  cursor: pointer;
  color: $default-color;
  text-decoration: none;
  opacity: 1;
}

.social-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

//gallery styles
.slick-arrow.slick-next {
  right: 25px;
  z-index: 2;
}

.slick-arrow.slick-prev {
  left: 25px;
  z-index: 2;
}

.slick-dots {
  bottom: 25px;
  left: 0;
  display: flex;
  margin-left: 20px;
}

.slick-dots>li {
  width:10px;
}

.slick-slide img {
  width: 100%;
}

//shop styles

h2 {
  font-size: 33px;
  font-weight: 400;
  color: $default-color-dark;
  text-align: center;
  margin: 30px;

}

div.shop-collection.col-sm-10 {
  align-self: center;
  margin:auto;
  float:none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.shop-collection > p.title {
  font-size: 18px;
  margin: 10px 0 10px;
  color: black;
}

div.overlay-image {
  display: flex;
  justify-content: center;

  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 10;
  left: 0;
  padding-bottom: 100%;
}

div.overlay-image:hover{
  opacity: 1;
}

div.overlay-image span {
  color: $default-bg-dark-color;
  position: absolute;
  z-index: 11;
  top: 47%;
}

.modal-title {
  color: $default-color-dark;
  font-size: 30px;
  text-align: center;
}

a {
  color: $default-color;
  text-decoration: none;
}

.modal a{
  font-size: 13px;
}
.modal a:hover{
  color: $default-color;
}

//pagination styles

.pagination > li > a.linkPaginate {
  padding: 6px 12px;
  margin-left: 0;
  position: relative;
  float: left;
  line-height: 1.42857143;
  color: $default-color-dark;
  text-decoration: none;
  background-color: transparent;
  //border: none;

}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: $default-color-dark;
  border-color: $default-color;
}

.pagination > .active > a, .pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  border-color: $default-color;
  //border-width: 3px;
  //margin-left: 5px;
  //margin-right: 5px;
}

.pagination > li > a.nextLink {
  background-color: transparent;
  color: $default-color-dark;
}

.pagination > li > a.previousLink {

  background-color: transparent;
  color: $default-color-dark;
}
.pagination > a.disabled {
  background-color: darkgrey;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: black;
  cursor: not-allowed;
  background-color: transparent;
  //border: none;
}
