$default-bg-color: #faf8e8;
$default-bg-dark-color: #f4eede;
$default-color: #b38a68;
$default-color-dark: #684f40;
$default-label-color: #d69224;
$action-button-color: #ffffff;
$action-button-bg-color: #d69224;
$border-color: #e3d1c3;